/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
storage/framework/views/
storage/framework/sessions/jmTf4f9Io8oeMpRsV45Ns9k6zEKAfZyULFtWUDfk
storage/framework/sessions/KQxNosprrTzpznd5c57RuxReaBppFwDjEkGd8VSt
storage/
